/* Hex codes:
#748CAB
#38424D
#BDC4D8
*/

body {
  font-family: Poppins;
  background-color:#38424D;
  color: #BDC4D8;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%
}

h1{
  margin: 0px;
}

h2{
  font-size: 20px
}

.player-info-box {
  background:#BDC4D8;
  color: #38424D;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

/* Game Options */

#game-options {
  width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.game-option {
  background: #748CAB;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background: #BDC4D8;
  color:#38424D;
  border: none;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer; 
  font-weight: bold;
  margin-bottom: 20px
}

p{
  /* border: solid red; */
  margin: 0px;
  text-align: center;
}

.rules{
  margin-top: 30px
}

.hidden{
  display: none
}
