/* Hex codes:
#748CAB
#38424D
#BDC4D8
*/

/* All Pages */
/* ----------------------------------------------- */
body {
  font-family: Poppins;
  background-color:#38424D;
  color: #BDC4D8;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.game-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0px;
}

h2{
  font-size: 20px
}

.player-info-box {
  background:#BDC4D8;
  color: #38424D;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* border: solid red; */
}

button{
  background: #BDC4D8;
  color:#38424D;
  border: none;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer; 
  font-weight: bold;
  margin-bottom: 20px
}

p{
  margin: 0px;
  text-align: center;
}

.hidden{
  display: none
}

/* Home Page */
/* ----------------------------------------------- */
.rules{
  margin-top: 30px
}

#game-options {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  /* border: solid red; */
}

.game-option {
  background: #748CAB;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game Pages */
/* ----------------------------------------------- */
.fighter-options{
  display: flex;
}

.fighter{
  height: 100px;
  margin:0px 5px 40px;
  cursor: pointer;
}

#rock-img{
  height: 120px;
}

.in-game-rules{
  margin-bottom: 50px;
}

/* Results Page */
/* ----------------------------------------------- */
